/* Add CSS styling here */
/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey;  */
}
/*General Styles*/
html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    height: 1.5;
    color: #000000;
    background-color: #FFF;
    font-family: 'Indie Flower', cursive;
}
p{
    font-size: 1.8rem;
}
div.links a{
    text-decoration: none;
    border: 2px solid #8600b3;
    background-color: rgb(134, 0, 179, 80); /* #8600b3 */
    color: #000000;
    transition: 2s;
}
div.links a:hover{
    background-color: #000000;
    color: #FFF;
    border: 2px solid #FFF;
}
h1, h2, h3{
    font-family: 'Patrick Hand', cursive;}
h1{
    font-size: 6rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-family: 2.5rem;
}
section, footer{
    padding: 4% 0;
}

/*NavBar Style*/
.colorbanner{
    width: 100%;
    height: 22%;
    background-color: rgba(102, 0, 204, 0.8);
    position: fixed;
    top:0;
    z-index: 999;
}
nav{
    position: fixed;
    top:0;
    z-index: 999;
}
nav div .links{
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: space-between;
}
div img{
    width: 8%;
    margin: 2%;
}

/*Bio Section Styles*/
#top{
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.pfp img{
    width: 100%;
    height: auto;
    border-radius: 10%;
    margin-left: 10%;
}
.bio{
    font-family: ;
    margin: 10% 10% 0 10%;
    align-items: center;
}
.bio button{
    font-family: 'Indie Flower', cursive;
    border: 2px solid #8600b3;
    background-color: rgb(134, 0, 179, 80); /* #8600b3 */
    color: #000000;
    margin: 1% 0;
    transition: 2s;
}
.bio button:hover{
    background-color: #000000;
    color:#FFF;
    border: 2px solid #6600cc;
}

/*Pojects Section Styles*/
#projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10rem;
}
#projects .bg-img{
    background-image: url('https://picsum.photos/800');
    margin: 0 4%;
    background-color: #8600b3;
    padding: 10rem;
}
#projects p{
    margin: 1% 0;
    padding: 0;
}

/*About Section Styles*/
#about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10rem;
}
#about .bg-img{
    background-image: url('https://picsum.photos/800');
    margin: 0 4%;
    background-color: #8600b3;
    padding: 10rem;
}
#about p{
    margin: 1% 0;
    padding: 0;
}

/*Footer Styles*/
#contact{
    width: 100%;
    height: 22%;
    text-align: center;
    background-color: rgba(102, 0, 204, 0.8);
    justify-content: center;
}
#contact button{
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    border: 2px solid #8600b3;
    background-color: rgb(134, 0, 179, 80); /* #8600b3 */
    color: #000000;
    transition: 2s;
}
#contact button:hover{
    background-color: #000000;
    color:#FFF;
    border: 2px solid #6600cc;
}